<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Hello World</title>
	<meta name="description" content="Hello World">
	<meta name="dcterms.description" lang="pl" content="Hello World">
	<meta name="keywords" content="hello, world">
	<meta name="dcterms.subject" lang="pl" content="hello; world">
	<meta name="application-name" content="Hello World">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex, nofollow">
	<link rel="icon" type="image/png" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
	

	<link href="https://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet"> 
	<link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
</head>