<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}">
	<meta name="dcterms.description" lang="pl" content="{{ page.description }}">
	<meta name="keywords" content="{{ page.keywords }}">
	<meta name="dcterms.subject" lang="pl" content="{{ page.subject }}">
	<meta name="application-name" content="{{ site.title }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex, nofollow">
	

	<link href="https://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet"> 
	<link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
</head>