.footer {
	background: #1e1d1d;
	padding: 10px 0;

	&__address {
		width: 100%;
		max-width: $layout-width;
		margin: auto;
		text-align: center;
		color: #fff;
		font-style: inherit;
	}

	&__divider {
		margin: 0 20px;

		@media (max-width: 500px) {
			visibility: hidden;
			display: block;
		}
	}

	&__link {
		color: #fff;

		&:hover, &:focus {
			color: $active;
		}
	}
}