body {
	background-image: url('../images/office.png');
	background-repeat: no-repeat;
	background-size: 100% auto;


	@media (max-width: 1500px) {
		background-size: 1600px auto;
	}

	@media (max-width: 500px) {
		background-size: 1450px auto;
	}

	@media (max-width: 365px) {
		background-size: 1580px auto;
	}

	@media (max-width: 300px) {
		background-size: 1660px auto;
	}
}

html {
	background-image: url('../images/noise.png');
	background-attachment: fixed;	
	scroll-behavior: smooth;
}